stages:
  - build
  - security

variables:
  DTRACK_URL: "http://185.55.56.234:8081/api/v1/bom"
  DTRACK_API_KEY: "$DTRACK_API_KEY"

generate-sbom:
  stage: build
  image: python:3.9-slim
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - pip install cyclonedx-bom
  script:
    - cyclonedx-py -r -i requirements.txt --format json --output sbom.json
  artifacts:
    paths:
      - sbom.json
    expire_in: 1 week
    reports:
      cyclonedx: sbom.json

dependency-check-scan:
  stage: security
  image: openjdk:17-alpine
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - apk add --no-cache curl unzip bash
    - curl -L -o dc.zip https://github.com/jeremylong/DependencyCheck/releases/download/v9.0.10/dependency-check-9.0.10-release.zip
    - unzip -q dc.zip
    - mkdir -p reports
  script:
    - ./dependency-check/bin/dependency-check.sh --scan "$CI_PROJECT_DIR" --project "$CI_PROJECT_NAME" --format HTML --out "$CI_PROJECT_DIR/reports/" --disableAssembly
  artifacts:
    paths:
      - reports/
    expire_in: 1 week
    when: always

upload-to-dtrack:
  stage: security
  image: alpine:latest
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  needs: ["generate-sbom"]
  before_script:
    - apk add --no-cache curl
  script:
    - ls -la sbom.json
    - |
      curl -X POST "$DTRACK_URL" \
        -H "X-Api-Key: $DTRACK_API_KEY" \
        -H "Content-Type: multipart/form-data" \
        -F "autoCreate=true" \
        -F "projectName=$CI_PROJECT_NAME" \
        -F "projectVersion=$CI_COMMIT_SHORT_SHA" \
        -F "bom=@sbom.json" \
        -f -v
  dependencies:
    - generate-sbom
  artifacts:
    expire_in: 1 week
    when: always

